<h1>Hello World</h1>
<% if (locals.isAuthenticated) { %>
    <p>You are logged in.</p>
    <p><a href="/profile" class="underline">View your profile</a>.</p>
    <p><a href="/userinfo" class="underline">View your user info</a>.</p>
    <p><a href="/logout" class="underline">Logout</a>.</p>
<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %>
