<h1>Profile</h1>
<pre><%= userProfile %></pre>
<p>idToken: <%= idToken %></p>
<p>accessToken: <%= accessToken %></p>
<p>refreshToken: <%= refreshToken %></p>
<p><a href="/logout" class="underline">Logout</a>.</p>
